.main_container {
  padding: 3rem;
}

.page_title {
  text-align: center;
  font-size: var(--font-size-title-1-mobile);
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: var(--color-green-950);
}

.top-section_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Tablet Screen Size */
@media only screen and (min-width: 641px) {
  .page_title {
    font-size: var(--font-size-title-1-tab);
  }
}

/* Desktop Screen Size */
@media only screen and (min-width: 1008px) {
  .page_title {
    font-size: var(--font-size-title-1-desktop);
  }

  .top-section_container {
    grid-template-columns: 60fr 40fr;
    align-items: center;
    justify-content: center;
    max-width: 136rem;
    background-color: var(--color-green-50);
    margin: auto;
  }
}
