.section-container {
  padding: 3rem;
}

.title_container {
  text-align: center;
}

.title_container h1 {
  font-size: var(--font-size-title-1-mobile);
  font-weight: 800;
  font-style: italic;
  text-transform: uppcleercase;
  color: var(--color-green-950);
}

.title_container p {
  margin-bottom: 1.6rem;
}

.top-section_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Tablet Screen Size */
@media only screen and (min-width: 641px) {
  .title_container h1 {
    font-size: var(--font-size-title-1-tab);
  }
}

/* Desktop Screen Size */
@media only screen and (min-width: 1008px) {
  .section-container {
    background-color: var(--color-green-50);
  }

  .title_container h1 {
    font-size: var(--font-size-title-1-desktop);
  }

  .top-section_container {
    grid-template-columns: 60fr 40fr;
    align-items: center;
    justify-content: center;
    max-width: 136rem;
    margin: auto;
  }
}
