.container-outer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
}

.container-inner h2 {
  text-align: center;
  font-size: var(--font-size-title-4-mobile);
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: var(--color-green-950);
}

/* Tablet Screen Size */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .container-outer {
    height: 100vh;
  }

  .container-inner h2 {
    font-size: var(--font-size-title-4);
  }
}

/* Desktop Screen Size */
/* @media only screen and (min-width: 1008px) {
} */
