.section_title {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2.4rem;
	text-transform: uppercase;
}

.category_container {
	display: flex;
	flex-direction: column;
	gap: 2.8rem;
	max-width: 76rem;
	margin: auto;
	width: 100%;
}

.category_title {
	margin-bottom: 1.2rem;
}

.gear_items_wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

/************* Media Queries *************/

/* Small Mobile Screen Size */
@media only screen and (max-width: 460px) {
	.section_title {
		font-size: 2rem;
	}

	.category_title {
		font-size: 1.6rem;
	}
}

/* Tablet Screen Size and Above */
@media only screen and (min-width: 640px) {
	.section_title {
		font-size: 3rem;
	}

	.category_title {
		font-size: 2.2rem;
	}
}
