.section_title {
	text-align: center;
	margin-bottom: 2rem;
}

.category_container {
	display: flex;
	flex-direction: column;
	gap: 2.8rem;
}

.category_title {
	margin-bottom: 1.2rem;
}

.gear_items_wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
