:root {
	/* Font Size - used */

	/* Font Size - unused */
	--font-size-title-3-desktop-lg: 1.8rem;
	--font-size-title-3-desktop: 1.4rem;
	--font-size-body-small: 1.4rem;
	--font-size-body-xsmall: 1.2rem;

	/* Colours - used */
	--color-green-100: #e2eec6; /* TrailSummary.callout */
	--color-green-800: #648e26; /* index.btn_green */
	--color-grey-800: #606060; /* TrailSummary.summary_container p */
	--color-green-950: #0a3c00; /* TrailSummary.summary_container a, TrailSummary.callout*/

	/* Colours - unused */
	--color-green-900: #406d14;
	/* --color-green-700: #78a22f; */
	/* --color-green-600: #8db639; */
	/* --color-green-500: #9dc641; */
	/* --color-green-400: #acce5f; */
	/* --color-green-200: #cfe2a2; */
	/* --color-green-50: #f4f8e8; */

	/* --color-grey-900: #3c3c3c; */
	/* --color-grey-700: #818181; */
	/* --color-grey-600: #979797; */
	/* --color-grey-500: #c2c2c2; */
	/* --color-grey-400: #dedede; */
	/* --color-grey-300: #f0f0f0; */
	/* --color-grey-200: #f5f5f5; */
	/* --color-grey-100: #fafafa; */

	/* Colour Gradients */
	/* --gradient-green: linear-gradient(
    90deg,
    var(--color-green-500),
    var(--color-green-900)
  ); */
	/* --gradient-green-reverse: linear-gradient(
    90deg,
    var(--color-green-900),
    var(--color-green-500)
  ); */
	/* --gradient-dark-green: linear-gradient(
    135deg,
    var(--color-green-950),
    var(--color-grey-900)
  ); */
	/* --gradient-dark-green-reverse: linear-gradient(
    135deg,
    var(--color-grey-900),
    var(--color-green-950)
  ); */
}

html {
	font-size: 62.5%; /* 10px */
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 1.6rem; /* 16px */
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0.05rem; /* 0.5px */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

.pswp__default-caption {
	top: 100px;
	bottom: unset !important;
}

.pswp__default-caption a {
	color: white !important;
}

.pad-30 {
	padding: 3rem;
}

.action_btns {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.clear_close_btn_group {
	display: flex;
	gap: 1rem;
}

.btn {
	font: inherit;
	font-weight: 500;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.375rem #10182040;
	padding: 0.5rem 1.5rem;
	color: white;
	cursor: pointer;
	transition: scale 300ms;
}

.btn:hover {
	transform: scale(1.02);
	box-shadow: 0.2rem 0.5rem 1rem #10182040;
}

@supports (scale: 1) {
	.btn:hover {
		scale: 1.05;
	}
}

.btn_blue {
	background-color: #425df3;
}

.btn_green {
	background-color: var(--color-green-800);
}

.btn_yellow {
	background-color: #9f831e;
}

.btn_red {
	background-color: #ca3636;
}

/* Classes that belong with their respective components */

.new_trail_btn {
	height: 4.8rem;
	margin-left: auto;
}

.container_centered {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
}

.pswp__button--info svg {
	margin: 0.2rem 0 0 0.2rem;
	padding: 0.4rem 0 0 0.4rem;
}

#pswp__icn-info {
	fill: none;
	stroke: white;
}

.spinner svg {
	display: block;
	fill: var(--color-primary);
	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.feedback {
	width: 90%;
	max-width: 50rem;
	padding: 3rem;
}

.feedback p {
	margin-bottom: 2rem;
}

/************* Media Queries *************/

/* Tablet Screen Size and Above */
@media only screen and (min-width: 640px) {
	.pswp__default-caption {
		top: 0;
		bottom: unset !important;
	}

	.clear_close_btn_group {
		display: flex;
		gap: 2rem;
	}
}

